* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: rgb(240, 240, 240);
    min-width: 3.5rem;
    max-width: 7.5rem;
    font-size: .28rem;
}

.heads {
    background: #fff;
    padding: 0 .3rem;

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: .36rem;
        height: 1rem;

        img {
            width: .3rem;
            height: .3rem;
        }
    }

    .inp {

        input {
            width: 100%;
            height: .8rem;
            border: .01rem #eee solid;
            margin: .18rem 0;
            font-size: .3rem;
            padding: 0 .8rem;
            line-height: .8rem;
            border-radius: .1rem;
            background-image: url(./22.png);
            background-repeat: no-repeat;
            background-position: .2rem center;
            background-size: .36rem .36rem;
        }
    }

}
.box1{
    width: 100%;
    
    .p1{
        line-height: .8rem;
        padding: 0 .3rem;
        font-size: .4rem;
    }
    .box11{
        background: #fff;
        display: flex;
        // align-items: center;
        justify-content: space-between;
        padding: .2rem .3rem;
        border-bottom: 1px #eee solid;
        b{
            display: inline-block;
            width: .8rem;
            height: .8rem;
            background: rgb(234, 233, 233);
            border-radius: .4rem;
            text-align: center;
            line-height: .9rem;
        }
        .box12{
            width: 50%;
            // padding: .2rem 0;
            .box13{
                display: flex;
                align-items: center;
                margin-bottom: .2rem;
                p{
                    font-size: .34rem;
                    // font-weight: lighter;
                }
                span{
                    margin: 0 .2rem;
                }
                img{
                    width: .2rem;
                    height: .3rem;
                    transform: rotate(-30deg);
                }
            }
            .p2{
                // font-size: .rem;
                color: #999;
            }
        }
        .box14{
            color: red;
            background: rgb(251, 238, 238);
            height: .46rem;
            line-height: .46rem;
            padding: 0 .3rem;
            font-weight: lighter;
            font-size: .26rem;
            border-radius: .23rem;
        }
    }
}
.right{
    align-items: center;
    justify-content: center;
    width: .2rem;
    display: flex;
    flex-wrap: wrap;
    font-size: .3rem;
    position: fixed;
    right: .2rem;
    top: 28%;
    color: #444;
    span{
        margin: .1rem 0;
    }
}