* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: .28rem;
  min-width: 3.4rem;
  max-width: 7.5rem;
  background: #f8f7f7;
}

.box {
  margin-bottom: 2.4rem;
}

.box header {
  display: flex;
  justify-content: space-between;
  padding: 0 .4rem;
  line-height: 1rem;
  font-size: .4rem;
  background: #fff;
}

.box header img {
  width: .36rem;
  height: .36rem;
}

.box .box1 {
  width: 100%;
}

.box .box1 p {
  line-height: 1rem;
  font-size: .4rem;
  padding: 0 .4rem;
}

.box .box1 .box11 {
  background: #fff;
  padding: 0 .4rem;
  line-height: 1rem;
  font-size: .36rem;
}

.box .box1 .box11 div {
  border-bottom: .01rem #ddd solid;
}

.box .box1 .box11 .box110 {
  border: none;
}

.box .box1 .box11 b {
  color: red;
}

.box .box1 .box11 input {
  border: 0;
  font-size: .34rem;
  margin-left: .3rem;
}

.box .box1 .box11 img {
  width: .26rem;
  height: .26rem;
}

.box2 {
  width: 100%;
  background: #fff;
  margin-top: .2rem;
  padding: 0 .4rem;
  font-size: .36rem;
}

.box2 .box21 {
  line-height: 1rem;
  border-bottom: .01rem #ddd solid;
}

.box2 .box21 input {
  border: 0;
  font-size: .34rem;
  margin-left: .3rem;
}

.box2 .box21 img {
  width: .26rem;
  height: .26rem;
}

.box2 .box211 {
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box2 .box22 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: .2rem 0;
}

.box2 .box22 p {
  width: 23%;
  border: 1px #ddd solid;
  border-radius: .1rem;
  background: #fff;
  font-size: .34rem;
  color: #999;
  text-align: center;
  line-height: .8rem;
  margin: .1rem 0;
}

.box2 .box23 {
  width: .9rem;
  height: .4rem;
  border-radius: .2rem;
  background: #ddd;
  display: flex;
  align-items: center;
}

.box2 .box23 b {
  display: inline-block;
  width: .5rem;
  height: .5rem;
  background: #f3f3f3;
  border-radius: .25rem;
  box-shadow: 0 0 5px #eee;
}

.tab {
  width: 100%;
  background: #fff;
  position: fixed;
  bottom: 0;
  text-align: center;
  padding: .4rem;
  border-top: .01rem #eee solid;
}

.tab button {
  width: 98%;
  line-height: 1rem;
  background: #44d5b1;
  border-radius: .2rem;
  color: #fff;
  text-align: center;
  border: 0;
  font-size: .36rem;
}
