* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-width: 3.5rem;
  max-width: 7.5rem;
  font-size: .28rem;
}

.box {
  background: #f7f6f6;
}

.box1 {
  width: 100%;
  padding: .2rem;
  background: #fff;
}

.box1 header {
  display: flex;
  justify-content: space-between;
  line-height: 1rem;
  align-items: center;
  font-size: .4rem;
}

.box1 header img {
  width: .4rem;
  height: .4rem;
}

.box2 {
  text-align: center;
  padding-bottom: .5rem;
}

.box2 img {
  width: 2.4rem;
  height: 2.4rem;
}

.box2 p {
  margin-bottom: .2rem;
  font-size: .4rem;
}

.box2 span {
  display: inline-block;
  width: 1.2rem;
  height: .5rem;
  line-height: .5rem;
  border-radius: .3rem;
  background: #def9ee;
  color: #68dcbf;
}

.box3 {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.box3 .box31 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 2rem;
}

.box3 .box31 div {
  width: .8rem;
  height: .8rem;
  background: #2572ec;
  text-align: center;
  line-height: 1rem;
  border-radius: .16rem;
}

.box3 .box31 .box311 {
  background: #fc7662;
}

.box3 .box31 .box312 {
  background: #f8dc6c;
}

.box3 .box31 .box313 {
  background: #8662fc;
}

.box3 .box31 span {
  font-size: .32rem;
}

.box4 {
  width: 100%;
  padding: .3rem;
}

.box4 .list {
  background: #fff;
  border-radius: .2rem;
  padding: .3rem;
}

.box4 .list span {
  color: #999;
  width: 30%;
}

.box4 .list div {
  display: flex;
  line-height: .8rem;
  font-size: .32rem;
}

.box4 .list p {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.box4 .list small {
  width: 1rem;
  height: .5rem;
  line-height: .5rem;
  text-align: center;
  display: inline-block;
  background: #c0d9ff;
  color: #3571bf;
  border-radius: .08rem;
}

.box4 .list .sm1 {
  width: 1rem;
  height: .5rem;
  line-height: .5rem;
  text-align: center;
  display: inline-block;
  background: #fedcd3;
  color: #f73a37;
  border-radius: .08rem;
}

.call {
  display: flex;
  align-items: center;
  box-shadow: 0 0 .5rem #ddd;
  padding: .3rem;
  border-radius: .2rem;
  margin-top: .2rem;
}

.call img {
  width: 1.2rem;
  height: 1.2rem;
  margin-right: .3rem;
}

.call .call1 {
  display: flex;
  flex-direction: column;
}

.call .call1 div {
  display: flex;
  line-height: .5rem;
  align-items: center;
}

.call .call1 div p {
  width: 1rem;
  font-size: .4rem;
}

.call .call1 div span {
  width: 1rem;
  display: flex;
  font-size: .3rem;
  margin: 0;
}

.call .call1 div img {
  width: .2rem;
  height: .3rem;
  transform: rotate(-30deg);
}

.fix {
  width: 100%;
  background: #fff;
  height: 2rem;
  padding: .2rem;
  border-top: .01rem #ddd solid;
  font-size: .36rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.fix span {
  display: inline-block;
  width: 46%;
  height: 1rem;
  border: 0.01rem #5cf0be solid;
  line-height: 1rem;
  text-align: center;
  border-radius: .2rem;
}

.fix .sp1 {
  color: #5cf0be;
}

.fix .sp2 {
  background: #68dab4;
  color: #fff;
}
